<h2>My Todo'ssss</h2>

<form action="/" method="post">
  <input type="text" name="description" value="Add new todo" />
  <input type="submit" value="Add" />
</form>

<ul>
  {{#each todoTasks}}
    <li> <a href="task/{{id}}">{{description}}</a></li>
  {{/each}}
</ul>