<h2>Edit toDo</h2>

<p>{{description}}</p>
<p>{{created}}</p>

<form action="/task/{{id}}/edit" method="POST">
  <input
    type="text"
    name="description"
    value="{{description}}"
    placeholder="Description"
  />
  <br />
  <br />
  <input type="checkbox" name="done" value="hmm" />
  <input type="submit" value="Save" />

</form>