<h2>Edit toDo</h2>

<p>{{description}}</p>
<p class="singleTime">{{created}}</p>

<form action="/task/{{id}}/edit" method="POST">
  <input
    type="text"
    name="description"
    value="{{description}}"
    placeholder="Description"
  />
  <br />
  <br />

  <input class="Button" type="submit" value="Save" />

</form>