<h2>My ToDo</h2>

<p class="singleDescription">{{description}}</p>
<p class="singleTime">{{created}}</p>
<br />
<a class="singleButton" href="/task/{{id}}/edit">Edit</a>
<a class="singleButton" href="/task/{{id}}/delete">Delete</a>